@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

*{
    font-family: 'Roboto', sans-serif;
}

body{
    background: #0f0f0f;
}

.container{
    width: 500px;
  height: 400px;
  overflow: hidden;
  position: relative;
  margin:50px auto;
}

.bar{
    display: flex;
    align-items: center;
    justify-content: center; 

    /* flex-direction: column; */
    

    background: #264653;
    width: 2em;
    height: 20em;
    margin: 1em;
    margin-left: 10px ;
    /* margin-right: 10px;  */
    
     /* overflow: hidden; */

    position: relative;

    /* transform: translateY(-50%); */
    /* top: 50%;
    margin-left: 50px;
    width: 20px;
    height: 320px; */
    float: left;

}



.bar label{
    z-index: 10;
    transform: rotate(90deg);
}

.bar .bar-inner{
    z-index: 5;

    background: #2a9d8f;
    /* height: 100%; */
    width: 100%;
    
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;

    transition: height 0.1s;
    /* transform: rotate(-90deg);*/
    transform-origin: bottom ; 
    
}

